/* 
    Document   : css
    Created on : 2013-2-27, 16:22:16
    Author     : GodSon
    Description:
        Purpose of the stylesheet follows.
*/
.form{
    height: 100%;
    margin: 10px;
}
.form div{ 
	margin:5px;
}
.form label{
    vertical-align: middle;
}

input[type=text],input[type=password],textarea{
    border:1px  #D4D4D4 solid;
    height: 18px;
    vertical-align: middle;
}
.img-btn{
    margin: 0 5px;
    padding: 2px 0 2px 16px;
    cursor:pointer;
}
.img-btn:hover{
    border: 1px  #D4D4D4 solid;
}
div.loading{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2147483646;
    opacity: 0.1;
    background: #000;
    height: 100%;
    width: 100%;
    cursor: progress;
    display: none;
}
div.progress{
    display: none;
    position: absolute;
    top:0;
    right:0;
    text-align: center;
    font-size: 12px;
    width: 128px;
    height: 25px;
    color: #000;
    background: #0092DC;
    z-index: 2147483647;
    background: url('../images/ajax-loader.gif') no-repeat;
}

.user_info{
    position: absolute;
    right: 0;
    line-height: 30px;
}

.system_controller{
    position: absolute;
    right: 0;
    bottom: 0;
}

.tree li {
margin: 2px 0;
}

*{
	font-family: 'ו';
}
.mytable{
		width:100%;
		border-collapse:collapse;
	}
	.mytable th{
		padding:5px 3px 5px 2px;
		border:1px solid #999; vertical-align:middle; text-align:left; 
		font-weight: bold;
	}
	.mytable td{
		padding:5px 3px 5px 2px;
		border:1px solid #999; vertical-align:middle; text-align:left; 
	}